#-----------------------------------
# Composer
#-----------------------------------

vendor
composer.lock

#-----------------------------------
# PHPDoc
#-----------------------------------

.phpdoc
